<!-- Basic NavBar template that uses logo.svg -->
<div class="tl-nav-bar">
    <div class="tl-nav-item">
        <img class="nav-bar-logo" src="/res/logo.svg" alt="LegoLog Logo">
    </div>
    <div class="tl-nav-item">
        New
    </div>
    <div class="tl-nav-item">
        Offers
    </div>
    <div class="tl-nav-item">
        Bricks
    </div>
    <div class="tl-nav-item">
        Our Sets
    </div>
    <div class="tl-nav-item">
        My Sets
    </div>
    <div class="tl-nav-item tl-nav-right">
        My Account
        <div class="nested-nav-item"></div>
    </div>
</div> <!-- end of nav-bar -->
