.navbar-container {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top:0px!important;
    margin-top:-10px!important;
    margin-bottom:0px!important;
    width: 100%;
    background-color: #D7C2FF;
    box-shadow: #222 0px 0px 5px;
    background-size: 100% 100%;
    z-index: 1;
}

.navbar {
    justify-content: space-between;
    display: block;
    position: relative;
    width: 85%;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1.6em;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.3em;
    z-index: 2;
}

@media screen and (max-width: 900px) {
    .navbar {
        width: 90%;
    }
}

/* mobile */
@media (pointer:none), (pointer:coarse) {
    .navbar {
        width: 95%;
    }
}

.push-right {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    text-align: right;
}

.push-down {
    display: flex;
    align-self: flex-start;
    padding-inline-start: 0px;
    flex-basis: 100%;
    margin-top: auto;
}

.logo {
    flex-grow: 2;
    transform: translatey(-20%);
    z-index: 51;
}

.hamburger {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    outline: none;
    position: relative;
    height: 60px;
    width: 60px;
    z-index: 101;
}

.hamburger-line {
    background: #222;
    height: 6px;
    position: absolute;
    left: 0;
    transition: all 0.2s ease-out;
    width: 100%;
}

.hamburger-line-top {
    top: 3px;
}

.menu-active .hamburger-line-top {
    top: 50%;
    transform: rotate(45deg) translatey(-50%);
}

.hamburger-line-middle {
    top: 50%;
    transform: translatey(-50%);
}

.menu-active .hamburger-line-middle {
    left: 50%;
    opacity: 0;
    width: 0;
}

.hamburger-line-bottom {
    bottom: 3px;
}

.menu-active .hamburger-line-bottom {
    bottom: 50%;
    transform: rotate(-45deg) translatey(50%);
}

/* nav menu */

.nav-menu {
    font-family: 'Londrina Solid', cursive;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all 0.25s ease-in;
}

.nav-menu .menu-item a {
    color: #222;
    display: block;
    line-height: 30px;
    margin: 0px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-menu .menu-item a:hover {
    color: #555;
    text-decoration: underline;
}

.drop-down {
    position: relative;
    z-index: 5;
}

.sub-nav {
    display: none;
    position: absolute;
    background-color: #AB8FFF;
    font-size: 0.8em;
    text-align: center;
    padding: 10px 10px;
    list-style: none;
    left: parent;
    max-width: 300px;
    z-index: 5;
}

/* Make sure the thing doesnt move */
/* .nav-menu {
    transform: translatey(-100%);
} */

@media (pointer:none), (pointer:coarse), screen and (max-width: 900px) {
    .hamburger {
        display: inline-block;
    }

    .nav-menu {
        position: fixed;
        background: #d7c2ffe0;
        flex-direction: column;
        justify-content: center;
        opacity: 50;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translatey(-100%);
        text-align: center;
        z-index: 100;
   }

   .nav-menu .menu-item a {
       font-size: 1.5em;
       margin: 0.5em;
   }

    .menu-active .nav-menu {
        transform: translatey(0%);
        opacity: 1;
   }

   .sub-nav {
       position: relative;
       width: 100%;
       max-width: 100%;
       display: none;
       background-color: rgba(0, 0, 0, 0.20);
       box-sizing: border-box;
   }
}

.nav-link:hover + .sub-nav {
    display: block;
}

.sub-nav:hover {
    display: block;
}

/* search bar */

.secondary-menu {
    display: flex;
    margin-top: 9px;
    flex-direction: row;
    justify-content: space-around;
    color: #222;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    width: 100%;
}

.search-wrapper {
    flex-basis: 83%;
    height: 100%;
    position: relative;
    display: flex;
    min-width: 100px;
    /* margin-left: 8px; */
    z-index: 3;
}

@media (pointer:none), (pointer:coarse), screen and (max-width: 900px) {
    .search-wrapper {
        flex-basis: 80%;
    }
}

/*switch, from https://www.w3schools.com/howto/howto_css_switch.asp*/
/* The switch - the box around the slider */

.stock-mode {
    display: flex;
    font-size: 0.8em;
    align-items: center;
    color: #e55744;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #e55744;
}

input:focus + .slider {
    box-shadow: 0 0 1px #e55744;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
