.product-page {
    display: flex;
    position: relative;
    margin-block-start: 0.83em;
    flex-direction: row;
    flex-wrap: wrap;
}

.back-button {
    flex-grow: 1;
}

.back-button-svg {
    cursor: pointer;
}

.product-display {
    flex-grow: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}

.product-image-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    max-width: 600px;
}

.active-image {
    display: block;
    max-width: 100%;
    height: 100%;
}

.product-info {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1em;
}

@media (pointer:none), (pointer:coarse), screen and (max-width: 900px) {
    .product-page, .product-display {
        flex-direction: column;
        height: 80%
    }

    .product-display {
        justify-content: flex-start;
        align-items: center;
    }

    .product-info {
        justify-content: flex-start;
    }

    .product-image-container {
        flex-grow: 2;
        width: 90%;
    }
}

.product-name {
    font-size: 2em;
    font-weight: bold;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.product-tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-block-start: 0.83em;
}

.product-listing-price {
    font-size: 1.5em;
}

.product-listing-price-full {
    text-decoration: line-through;
    font-size: 1.1em;
}

.product-listing-price-new {
    font-weight: bold;
    color: #E55744;
    font-size: 1.5em;
}

.product-description {
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.brick-colour-selector {
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
    justify-content: flex-start;
    align-items: center;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.brick-colour-selector-select {
    font-size: 1em;
    font-family: inherit;
    transform: translateY(-1px);
}

.product-quantity-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.product-quantity-button {
    cursor: pointer;
    font-size: 1.7em;
    border: #1A1A1A solid 1px;
    background-color: #F5F6F6;
    border-radius: 0.2em;
    width: 1.5em;
    height: 1.5em;
}

/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.quantity-input {
    height: 2.2em;
    width: 3.7em;
    background-color: #F5F6F6;
    border-top: #1A1A1A solid 1px;
    border-bottom: #1A1A1A solid 1px;
    border-right: none;
    border-left: none;
    text-align: center;
    font-size: 1.2em;
}

.product-add-to-basket {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.add-to-basket-button {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-right: 1em;
    cursor: pointer;
    background-color: #222;
    border: none;
    color: #F5F6F6;
    padding: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    transition: all 0.2s ease-in;
}

.add-to-basket-button:hover {
    background-color: #F5F6F6;
    outline: 2px solid #222;
    color: #222;
}

.add-to-favorites-button:hover {
    transform: translateY(4px);
}

.collapsible-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-block-end: 2em;
    min-width: 0;
}

.menu-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    border-bottom: #1A1A1A solid 1px;
    min-width: 0;
}

.menu-header-arrow {
    transform: rotate(-180deg);
    margin-left: 0.5em;
    transition: transform 0.2s ease-in-out;
}

/* rotate the arrow down when the details are open */
.menu-header-arrow-down {
    margin-left: 0.5em;
    transform: rotate(-90deg);
}

.menu-content {
    max-width: fit-content;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    min-width: 0;
}

.details-open {
    display: flex;
    position: static;
    width: auto;
}

.product-details-content-item {
    padding-top: 0.6em;
}

.scrollable-container {
    width: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
}

.set-brick-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-block-start: 0.83em;
    min-width: 0;
}

.sc-listing {
    width: 100%;
    flex-grow: 5;
    min-width: 0;
}

.set-brick-amount {
    flex-grow: 1;
    font-size: 2.3em;
    font-weight: bold;
}

.brick-colour-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.brick-colour-demonstrator {
    font-family: inherit;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
    width: 40px;
    height: 40px;
    margin-right: 0.5em;
    border: #1A1A1A solid 1px;
}
