body {
    font-family: 'Josefin Sans', sans-serif;
    /* all EM in the document is based off this DONT TOUCH */
    /* it's also kinda the default so you can touch it if you want */
    /* BODY TEXT SHOULD BE 1EM */
    font-size: 16px;
    color: #222;
    text-decoration: none;
    background-color: #D7C2FF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all 250ms ease-in;
}

limited-margin {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    max-width: 1400px;
}

/* responsive sidebar stop scrolling */
/* also making sure this is applied any time it's on a mobile device */
@media (pointer:none), (pointer:coarse), screen and (max-width: 900px) {
    body {
        font-size: 25px;
    }

    limited-margin {
        width: 90%;
        /* padding-left: 1em;
        padding-right: 1em; */
    }
}

#top-picks {
    font-size: 1em;
}
